@font-face {
    font-family: 'Neue Haas Unica';
    src: url('font/NeueHaasUnica-Medium.eot');
    src: local('Neue Haas Unica Medium'), local('NeueHaasUnica-Medium'),
        url('font/NeueHaasUnica-Medium.eot?#iefix') format('embedded-opentype'),
        url('font/NeueHaasUnica-Medium.woff2') format('woff2'),
        url('font/NeueHaasUnica-Medium.woff') format('woff'),
        url('font/NeueHaasUnica-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Neue Haas Unica';
    src: url('font/NeueHaasUnica-Regular.eot');
    src: local('font/Neue Haas Unica Regular'), local('NeueHaasUnica-Regular'),
        url('font/NeueHaasUnica-Regular.eot?#iefix') format('embedded-opentype'),
        url('font/NeueHaasUnica-Regular.woff2') format('woff2'),
        url('font/NeueHaasUnica-Regular.woff') format('woff'),
        url('font/NeueHaasUnica-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

h1 {
    color: black;
    font-family: "Neue Haas Unica", sans-serif;
    font-weight: 500;
    font-style: normal;
    text-align: center;
}

h2, p, h3, .container {
    color: black;
    font-family: "Neue Haas Unica", sans-serif;
    font-weight: normal;
    font-style: normal;
    text-align: center;
}



.list {
    display: inline-block;
    text-align: left;
}

img {
    height: auto;
    width: 300px;
}
