@font-face {
    font-family: 'Neue Haas Unica';
    src: url('font/NeueHaasUnica-Medium.eot');
    src: local('Neue Haas Unica Medium'), local('NeueHaasUnica-Medium'),
        url('font/NeueHaasUnica-Medium.eot?#iefix') format('embedded-opentype'),
        url('font/NeueHaasUnica-Medium.woff2') format('woff2'),
        url('font/NeueHaasUnica-Medium.woff') format('woff'),
        url('font/NeueHaasUnica-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Neue Haas Unica';
    src: url('font/NeueHaasUnica-Regular.eot');
    src: local('font/Neue Haas Unica Regular'), local('NeueHaasUnica-Regular'),
        url('font/NeueHaasUnica-Regular.eot?#iefix') format('embedded-opentype'),
        url('font/NeueHaasUnica-Regular.woff2') format('woff2'),
        url('font/NeueHaasUnica-Regular.woff') format('woff'),
        url('font/NeueHaasUnica-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.header {
    color: rgb(0, 0, 0);
    background-color: white;
    font-family: "Neue Haas Unica", sans-serif;
    font-weight: 500;
    text-align: center;
}

.content {
    text-align: center;
    font-family: "Neue Haas Unica", sans-serif;
    font-weight: normal;
}

a {
    color: rgb(34, 84, 220);
}


